<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Heckler & Kock VP9 OR
    </mat-panel-title>
    <mat-panel-description>
      Número CRAF: BR46778
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div class="row">
    <div>
      <span>Número de Série: SN74988</span>
    </div>
    <div>
      <span>Tipo: Pistola</span>
    </div>
    <div>
      <span>Calibre: 9mm</span>
    </div>
    <div>
      <span>Válido: 10/12/2028</span>
    </div>
  </div>
</mat-expansion-panel>