<div class="container content">
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Heckler & Kock VP9 OR
            </mat-panel-title>
            <mat-panel-description>
                Número CRAF: BR46778
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row">
            <div>
                <span>Número de Série: SN74988</span>
            </div>
            <span>Tipo: Pistola</span>
        </div>
        <span>Calibre: 9mm</span> <span>Válido: 10/12/2028</span>
    </mat-expansion-panel>
</div>



<!--<div class="container">
    <div>
        <mat-grid-list cols="2">
            <mat-grid-tile colspan="1"
                           rowspan="1">
                                 <mat-card>
                    <mat-card-title color="primary">Heckler & Kock VP9 OR</mat-card-title>
                    <mat-card-subtitle>Pistola</mat-card-subtitle>
                    <mat-card-content>
                        <p>Número de Série: SN74988</p>
                        <p>Número CRAF: BR46778</p>
                        <p>Número de Série: SN74988</p>
                        <p>Válido: 10/12/2028</p>
                    </mat-card-content>
                    <mat-card-actions align="end">
                        <button mat-button>Guia de Tráfego</button>
                        <button mat-button>Emitir CRAF</button>
                    </mat-card-actions>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile colspan="1">
                <mat-card>
                    <mat-card-title>Heckler & Kock VP9 SK</mat-card-title>
                    <mat-card-subtitle>Pistol</mat-card-subtitle>
                    <mat-card-content>
                        <p>Número de Série: SN74988</p>
                        <p>Número CRAF: BR46778</p>
                        <p>Número de Série: SN74988</p>
                        <p>Válido: 10/12/2028</p>
                    </mat-card-content>
                    <mat-card-actions align="end">
                        <button mat-button>Guia de Tráfego</button>
                        <button mat-button>Emitir CRAF</button>
                    </mat-card-actions>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile colspan="1"
                           rowspan="1">
                <mat-card>
                    <mat-card-title color="primary">Heckler & Kock VP9 OR</mat-card-title>
                    <mat-card-subtitle>Pistola</mat-card-subtitle>
                    <mat-card-content>
                        <p>Número de Série: SN74988</p>
                        <p>Número CRAF: BR46778</p>
                        <p>Número de Série: SN74988</p>
                        <p>Válido: 10/12/2028</p>
                    </mat-card-content>
                    <mat-card-actions align="end">
                        <button mat-button>Guia de Tráfego</button>
                        <button mat-button>Emitir CRAF</button>
                    </mat-card-actions>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile colspan="1">
                <mat-card>
                    <mat-card-title>Heckler & Kock VP9 SK</mat-card-title>
                    <mat-card-subtitle>Pistol</mat-card-subtitle>
                    <mat-card-content>
                        <p>Número de Série: SN74988</p>
                        <p>Número CRAF: BR46778</p>
                        <p>Número de Série: SN74988</p>
                        <p>Válido: 10/12/2028</p>
                    </mat-card-content>
                    <mat-card-actions align="end">
                        <button mat-button>Guia de Tráfego</button>
                        <button mat-button>Emitir CRAF</button>
                    </mat-card-actions>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile colspan="1"
                           rowspan="1">
                <mat-card>
                    <mat-card-title color="primary">Heckler & Kock VP9 OR</mat-card-title>
                    <mat-card-subtitle>Pistola</mat-card-subtitle>
                    <mat-card-content>
                        <p>Número de Série: SN74988</p>
                        <p>Número CRAF: BR46778</p>
                        <p>Número de Série: SN74988</p>
                        <p>Válido: 10/12/2028</p>
                    </mat-card-content>
                    <mat-card-actions align="end">
                        <button mat-button>Guia de Tráfego</button>
                        <button mat-button>Emitir CRAF</button>
                    </mat-card-actions>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile colspan="1">
                <mat-card>
                    <mat-card-title>Heckler & Kock VP9 SK</mat-card-title>
                    <mat-card-subtitle>Pistol</mat-card-subtitle>
                    <mat-card-content>
                        <p>Número de Série: SN74988</p>
                        <p>Número CRAF: BR46778</p>
                        <p>Número de Série: SN74988</p>
                        <p>Válido: 10/12/2028</p>
                    </mat-card-content>
                    <mat-card-actions align="end">
                        <button mat-button>Guia de Tráfego</button>
                        <button mat-button>Emitir CRAF</button>
                    </mat-card-actions>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile colspan="1"
                           rowspan="1">
                <mat-card>
                    <mat-card-title color="primary">Heckler & Kock VP9 OR</mat-card-title>
                    <mat-card-subtitle>Pistola</mat-card-subtitle>
                    <mat-card-content>
                        <p>Número de Série: SN74988</p>
                        <p>Número CRAF: BR46778</p>
                        <p>Número de Série: SN74988</p>
                        <p>Válido: 10/12/2028</p>
                    </mat-card-content>
                    <mat-card-actions align="end">
                        <button mat-button>Guia de Tráfego</button>
                        <button mat-button>Emitir CRAF</button>
                    </mat-card-actions>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile colspan="1">
                <mat-card>
                    <mat-card-title>Heckler & Kock VP9 SK</mat-card-title>
                    <mat-card-subtitle>Pistol</mat-card-subtitle>
                    <mat-card-content>
                        <p>Número de Série: SN74988</p>
                        <p>Número CRAF: BR46778</p>
                        <p>Número de Série: SN74988</p>
                        <p>Válido: 10/12/2028</p>
                    </mat-card-content>
                    <mat-card-actions align="end">
                        <button mat-button>Guia de Tráfego</button>
                        <button mat-button>Emitir CRAF</button>
                    </mat-card-actions>
                </mat-card> 
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>-->