<h2> Dados do Usuário </h2>
<form [formGroup]="formulario"
      (ngOnSubmit)="onSalvar()">
    <div class="container">
        <mat-form-field appearance="fill">
            <mat-label>Nome</mat-label>
            <input matInput
                   inputmode="text"
                   placeholder="Nome Completo"
                   #nameInput
                   formControlName="nome">
            <mat-error>
                Nome é <strong>Obrigatório</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Certificado de Registro</mat-label>
            <input matInput
                   type="number"
                   placeholder="CR"
                   #numCR
                   formControlName="cr">
            <mat-error>
                Número do CR é Obrigatório
            </mat-error>
        </mat-form-field>
    </div>
    <div class="container">
        <mat-form-field appearance="fill">
            <mat-label>Endereço</mat-label>
            <textarea matInput
                      type="text"
                      placeholder="Endereço completo"
                      #endereco
                      formControlName="endereco"
                      min-height="150px"
                      width="400px">
            </textarea>
        </mat-form-field>
    </div>
    <div class="container">
        <mat-form-field appearance="fill">
            <mat-label>CR Valido até</mat-label>
            <input matInput
                   [matDatepicker]="picker"
                   formControlName="validade">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix
                                   [for]="picker">
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
    <button mat-raised-button
            type="submit"
            color="primary"
            (click)="onSalvar()">Salvar
    </button>
</form>