<div class="container">
        <div class="row fixed-header"
             layout-align='center center'
             layout='column'>
                <mat-toolbar color="primary"
                             role="heading">

                        <a mat-button>Cidadão</a>
                        <a mat-button>Colecionador</a>
                        <a mat-button>Atirador</a>
                        <a mat-button
                           href="https://www.google.com/"
                           target="_blank">Caçador</a>

                </mat-toolbar>
        </div>
</div>