.div-maior{
  width: 1200px;
  height: 600px;
  border: 1px;
  border-color: lightcoral;
  margin: 10px 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.div-pessoal{
  width: 50%;
}

.div-acervo{
  width: 50%;
}
