<mat-grid-list cols="4"
               margin="20px"
               rowHeight="500px">
  <div class="row">
    <mat-grid-tile colspan="2"
                   rowspan="1">
      <app-userdata></app-userdata>
    </mat-grid-tile>
  </div>
  <div class="row">
    <mat-grid-tile colspan="2"
                   rowspan="1">
      <mat-grid-tile-header>
        <app-acervos></app-acervos>
      </mat-grid-tile-header>
    </mat-grid-tile>
  </div>
  <mat-grid-tile colspan="4"
                 rowspan="1">
    <app-acervo></app-acervo>
  </mat-grid-tile>
</mat-grid-list>